body {
    background-color: goldenrod;
}

#col {
    background-color: white;
    padding: 15px;
    margin: auto;
}

label {
    font-size: 17px;
    font-weight: 600;
}

.days {
    text-align: center;
}

#frominput {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 12px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}